@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello,Click Play Button To Listen Music !!!!!</h1>


<audio controls="controls">
    <source src="/audiosource/blazor%20audio%20file%20to%20pay.mp3" />
</audio>
